In [ ]:
print("hello")

hello

In [ ]:
import pandas as pd

# 1. IMPORTING Files

## Importing csv files

In [ ]:
df = pd.read_csv('pokemon_data.csv')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## importing excel files

In [ ]:
df1 = pd.read_excel('/content/pokemon_data.xlsx')
df1.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## importing txt files

In [ ]:
#df2 = pd.read_csv(r'C:\Users\HP\My JN Projects\Sample DATA\pandas-master\pokemon_data.txt', delimiter = '\t')
df2 = pd.read_csv('/content/pokemon_data.txt', delimiter = '\t')
df2.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# 2. Reading Data from files

## Reading Headers

In [ ]:
print("---------csv file Headers--------")
print(df.columns)
#print("---------excel file Headers--------")
#print(df1.columns)
print("---------txt file Headers--------")
print(df2.columns)

---------csv file Headers--------
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
---------txt file Headers--------
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## Reading Specific column

In [ ]:
df['Name'][0:20]

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
12      BlastoiseMega Blastoise
13                     Caterpie
14                      Metapod
15                   Butterfree
16                       Weedle
17                       Kakuna
18                     Beedrill
19        BeedrillMega Beedrill
Name: Name, dtype: object

## Reading Multiple columns

In [ ]:
df[['Name','Type 1', 'HP']][0:20]

                         Name Type 1  HP
0                   Bulbasaur  Grass  45
1                     Ivysaur  Grass  60
2                    Venusaur  Grass  80
3       VenusaurMega Venusaur  Grass  80
4                  Charmander   Fire  39
5                  Charmeleon   Fire  58
6                   Charizard   Fire  78
7   CharizardMega Charizard X   Fire  78
8   CharizardMega Charizard Y   Fire  78
9                    Squirtle  Water  44
10                  Wartortle  Water  59
11                  Blastoise  Water  79
12    BlastoiseMega Blastoise  Water  79
13                   Caterpie    Bug  45
14                    Metapod    Bug  50
15                 Butterfree    Bug  60
16                     Weedle    Bug  40
17                     Kakuna    Bug  45
18                   Beedrill    Bug  65
19      BeedrillMega Beedrill    Bug  65

## Reading Each Row

In [ ]:
df.iloc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

## Reading Multipe Rows

In [ ]:
df.iloc[0:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Reading Specific cell/ location

In [ ]:
df.iloc[1,1] # 1st row 1st column

'Ivysaur'

In [ ]:
df.iloc[2,3] # 2nd row 3rd column

'Poison'

In [ ]:
for index, row in df.iterrows():
    print(index, row['Type 1'])

0 Grass
1 Grass
2 Grass
3 Grass
4 Fire
5 Fire
6 Fire
7 Fire
8 Fire
9 Water
10 Water
11 Water
12 Water
13 Bug
14 Bug
15 Bug
16 Bug
17 Bug
18 Bug
19 Bug
20 Normal
21 Normal
22 Normal
23 Normal
24 Normal
25 Normal
26 Normal
27 Normal
28 Poison
29 Poison
30 Electric
31 Electric
32 Ground
33 Ground
34 Poison
35 Poison
36 Poison
37 Poison
38 Poison
39 Poison
40 Fairy
41 Fairy
42 Fire
43 Fire
44 Normal
45 Normal
46 Poison
47 Poison
48 Grass
49 Grass
50 Grass
51 Bug
52 Bug
53 Bug
54 Bug
55 Ground
56 Ground
57 Normal
58 Normal
59 Water
60 Water
61 Fighting
62 Fighting
63 Fire
64 Fire
65 Water
66 Water
67 Water
68 Psychic
69 Psychic
70 Psychic
71 Psychic
72 Fighting
73 Fighting
74 Fighting
75 Grass
76 Grass
77 Grass
78 Water
79 Water
80 Rock
81 Rock
82 Rock
83 Fire
84 Fire
85 Water
86 Water
87 Water
88 Electric
89 Electric
90 Normal
91 Normal
92 Normal
93 Water
94 Water
95 Poison
96 Poison
97 Water
98 Water
99 Ghost
100 Ghost
101 Ghost
102 Ghost
103 Rock
104 Psychic
105 Psychic
106 Water
107 Water
108 Electric
109 Electric
110 Grass
111 Grass
112 Ground
113 Ground
114 Fighting
115 Fighting
116 Normal
117 Poison
118 Poison
119 Ground
120 Ground
121 Normal
122 Grass
123 Normal
124 Normal
125 Water
126 Water
127 Water
128 Water
129 Water
130 Water
131 Psychic
132 Bug
133 Ice
134 Electric
135 Fire
136 Bug
137 Bug
138 Normal
139 Water
140 Water
141 Water
142 Water
143 Normal
144 Normal
145 Water
146 Electric
147 Fire
148 Normal
149 Rock
150 Rock
151 Rock
152 Rock
153 Rock
154 Rock
155 Normal
156 Ice
157 Electric
158 Fire
159 Dragon
160 Dragon
161 Dragon
162 Psychic
163 Psychic
164 Psychic
165 Psychic
166 Grass
167 Grass
168 Grass
169 Fire
170 Fire
171 Fire
172 Water
173 Water
174 Water
175 Normal
176 Normal
177 Normal
178 Normal
179 Bug
180 Bug
181 Bug
182 Bug
183 Poison
184 Water
185 Water
186 Electric
187 Fairy
188 Normal
189 Fairy
190 Fairy
191 Psychic
192 Psychic
193 Electric
194 Electric
195 Electric
196 Electric
197 Grass
198 Water
199 Water
200 Rock
201 Water
202 Grass
203 Grass
204 Grass
205 Normal
206 Grass
207 Grass
208 Bug
209 Water
210 Water
211 Psychic
212 Dark
213 Dark
214 Water
215 Ghost
216 Psychic
217 Psychic
218 Normal
219 Bug
220 Bug
221 Normal
222 Ground
223 Steel
224 Steel
225 Fairy
226 Fairy
227 Water
228 Bug
229 Bug
230 Bug
231 Bug
232 Bug
233 Dark
234 Normal
235 Normal
236 Fire
237 Fire
238 Ice
239 Ice
240 Water
241 Water
242 Water
243 Ice
244 Water
245 Steel
246 Dark
247 Dark
248 Dark
249 Water
250 Ground
251 Ground
252 Normal
253 Normal
254 Normal
255 Fighting
256 Fighting
257 Ice
258 Electric
259 Fire
260 Normal
261 Normal
262 Electric
263 Fire
264 Water
265 Rock
266 Rock
267 Rock
268 Rock
269 Psychic
270 Fire
271 Psychic
272 Grass
273 Grass
274 Grass
275 Grass
276 Fire
277 Fire
278 Fire
279 Fire
280 Water
281 Water
282 Water
283 Water
284 Dark
285 Dark
286 Normal
287 Normal
288 Bug
289 Bug
290 Bug
291 Bug
292 Bug
293 Water
294 Water
295 Water
296 Grass
297 Grass
298 Grass
299 Normal
300 Normal
301 Water
302 Water
303 Psychic
304 Psychic
305 Psychic
306 Psychic
307 Bug
308 Bug
309 Grass
310 Grass
311 Normal
312 Normal
313 Normal
314 Bug
315 Bug
316 Bug
317 Normal
318 Normal
319 Normal
320 Fighting
321 Fighting
322 Normal
323 Rock
324 Normal
325 Normal
326 Dark
327 Dark
328 Steel
329 Steel
330 Steel
331 Steel
332 Steel
333 Steel
334 Fighting
335 Fighting
336 Fighting
337 Electric
338 Electric
339 Electric
340 Electric
341 Electric
342 Bug
343 Bug
344 Grass
345 Poison
346 Poison
347 Water
348 Water
349 Water
350 Water
351 Water
352 Fire
353 Fire
354 Fire
355 Fire
356 Psychic
357 Psychic
358 Normal
359 Ground
360 Ground
361 Ground
362 Grass
363 Grass
364 Normal
365 Dragon
366 Dragon
367 Normal
368 Poison
369 Rock
370 Rock
371 Water
372 Water
373 Water
374 Water
375 Ground
376 Ground
377 Rock
378 Rock
379 Rock
380 Rock
381 Water
382 Water
383 Normal
384 Normal
385 Ghost
386 Ghost
387 Ghost
388 Ghost
389 Ghost
390 Grass
391 Psychic
392 Dark
393 Dark
394 Psychic
395 Ice
396 Ice
397 Ice
398 Ice
399 Ice
400 Ice
401 Water
402 Water
403 Water
404 Water
405 Water
406 Dragon
407 Dragon
408 Dragon
409 Dragon
410 Steel
411 Steel
412 Steel
413 Steel
414 Rock
415 Ice
416 Steel
417 Dragon
418 Dragon
419 Dragon
420 Dragon
421 Water
422 Water
423 Ground
424 Ground
425 Dragon
426 Dragon
427 Steel
428 Psychic
429 Psychic
430 Psychic
431 Psychic
432 Grass
433 Grass
434 Grass
435 Fire
436 Fire
437 Fire
438 Water
439 Water
440 Water
441 Normal
442 Normal
443 Normal
444 Normal
445 Normal
446 Bug
447 Bug
448 Electric
449 Electric
450 Electric
451 Grass
452 Grass
453 Rock
454 Rock
455 Rock
456 Rock
457 Bug
458 Bug
459 Bug
460 Bug
461 Bug
462 Bug
463 Bug
464 Electric
465 Water
466 Water
467 Grass
468 Grass
469 Water
470 Water
471 Normal
472 Ghost
473 Ghost
474 Normal
475 Normal
476 Normal
477 Ghost
478 Dark
479 Normal
480 Normal
481 Psychic
482 Poison
483 Poison
484 Steel
485 Steel
486 Rock
487 Psychic
488 Normal
489 Normal
490 Ghost
491 Dragon
492 Dragon
493 Dragon
494 Dragon
495 Normal
496 Fighting
497 Fighting
498 Fighting
499 Ground
500 Ground
501 Poison
502 Poison
503 Poison
504 Poison
505 Grass
506 Water
507 Water
508 Water
509 Grass
510 Grass
511 Grass
512 Dark
513 Electric
514 Normal
515 Ground
516 Grass
517 Electric
518 Fire
519 Fairy
520 Bug
521 Grass
522 Ice
523 Ground
524 Ice
525 Normal
526 Psychic
527 Psychic
528 Rock
529 Ghost
530 Ice
531 Electric
532 Electric
533 Electric
534 Electric
535 Electric
536 Electric
537 Psychic
538 Psychic
539 Psychic
540 Steel
541 Water
542 Fire
543 Normal
544 Ghost
545 Ghost
546 Psychic
547 Water
548 Water
549 Dark
550 Grass
551 Grass
552 Normal
553 Psychic
554 Grass
555 Grass
556 Grass
557 Fire
558 Fire
559 Fire
560 Water
561 Water
562 Water
563 Normal
564 Normal
565 Normal
566 Normal
567 Normal
568 Dark
569 Dark
570 Grass
571 Grass
572 Fire
573 Fire
574 Water
575 Water
576 Psychic
577 Psychic
578 Normal
579 Normal
580 Normal
581 Electric
582 Electric
583 Rock
584 Rock
585 Rock
586 Psychic
587 Psychic
588 Ground
589 Ground
590 Normal
591 Normal
592 Fighting
593 Fighting
594 Fighting
595 Water
596 Water
597 Water
598 Fighting
599 Fighting
600 Bug
601 Bug
602 Bug
603 Bug
604 Bug
605 Bug
606 Grass
607 Grass
608 Grass
609 Grass
610 Water
611 Ground
612 Ground
613 Ground
614 Fire
615 Fire
616 Fire
617 Grass
618 Bug
619 Bug
620 Dark
621 Dark
622 Psychic
623 Ghost
624 Ghost
625 Water
626 Water
627 Rock
628 Rock
629 Poison
630 Poison
631 Dark
632 Dark
633 Normal
634 Normal
635 Psychic
636 Psychic
637 Psychic
638 Psychic
639 Psychic
640 Psychic
641 Water
642 Water
643 Ice
644 Ice
645 Ice
646 Normal
647 Normal
648 Electric
649 Bug
650 Bug
651 Grass
652 Grass
653 Water
654 Water
655 Water
656 Bug
657 Bug
658 Grass
659 Grass
660 Steel
661 Steel
662 Steel
663 Electric
664 Electric
665 Electric
666 Psychic
667 Psychic
668 Ghost
669 Ghost
670 Ghost
671 Dragon
672 Dragon
673 Dragon
674 Ice
675 Ice
676 Ice
677 Bug
678 Bug
679 Ground
680 Fighting
681 Fighting
682 Dragon
683 Ground
684 Ground
685 Dark
686 Dark
687 Normal
688 Normal
689 Normal
690 Dark
691 Dark
692 Fire
693 Bug
694 Dark
695 Dark
696 Dark
697 Bug
698 Bug
699 Steel
700 Rock
701 Grass
702 Flying
703 Flying
704 Electric
705 Electric
706 Dragon
707 Dragon
708 Ground
709 Ground
710 Dragon
711 Dragon
712 Dragon
713 Water
714 Water
715 Normal
716 Normal
717 Bug
718 Grass
719 Grass
720 Grass
721 Fire
722 Fire
723 Fire
724 Water
725 Water
726 Water
727 Normal
728 Normal
729 Normal
730 Fire
731 Fire
732 Bug
733 Bug
734 Bug
735 Fire
736 Fire
737 Fairy
738 Fairy
739 Fairy
740 Grass
741 Grass
742 Fighting
743 Fighting
744 Normal
745 Psychic
746 Psychic
747 Psychic
748 Steel
749 Steel
750 Steel
751 Steel
752 Fairy
753 Fairy
754 Fairy
755 Fairy
756 Dark
757 Dark
758 Rock
759 Rock
760 Poison
761 Poison
762 Water
763 Water
764 Electric
765 Electric
766 Rock
767 Rock
768 Rock
769 Rock
770 Fairy
771 Fighting
772 Electric
773 Rock
774 Dragon
775 Dragon
776 Dragon
777 Steel
778 Ghost
779 Ghost
780 Ghost
781 Ghost
782 Ghost
783 Ghost
784 Ghost
785 Ghost
786 Ghost
787 Ghost
788 Ice
789 Ice
790 Flying
791 Flying
792 Fairy
793 Dark
794 Dragon
795 Rock
796 Rock
797 Psychic
798 Psychic
799 Fire

In [ ]:
for index, row in df.iterrows():
    print(index, "\t",row['Name'],'\t',row['Type 1'])

0 	 Bulbasaur 	 Grass
1 	 Ivysaur 	 Grass
2 	 Venusaur 	 Grass
3 	 VenusaurMega Venusaur 	 Grass
4 	 Charmander 	 Fire
5 	 Charmeleon 	 Fire
6 	 Charizard 	 Fire
7 	 CharizardMega Charizard X 	 Fire
8 	 CharizardMega Charizard Y 	 Fire
9 	 Squirtle 	 Water
10 	 Wartortle 	 Water
11 	 Blastoise 	 Water
12 	 BlastoiseMega Blastoise 	 Water
13 	 Caterpie 	 Bug
14 	 Metapod 	 Bug
15 	 Butterfree 	 Bug
16 	 Weedle 	 Bug
17 	 Kakuna 	 Bug
18 	 Beedrill 	 Bug
19 	 BeedrillMega Beedrill 	 Bug
20 	 Pidgey 	 Normal
21 	 Pidgeotto 	 Normal
22 	 Pidgeot 	 Normal
23 	 PidgeotMega Pidgeot 	 Normal
24 	 Rattata 	 Normal
25 	 Raticate 	 Normal
26 	 Spearow 	 Normal
27 	 Fearow 	 Normal
28 	 Ekans 	 Poison
29 	 Arbok 	 Poison
30 	 Pikachu 	 Electric
31 	 Raichu 	 Electric
32 	 Sandshrew 	 Ground
33 	 Sandslash 	 Ground
34 	 Nidoran (Female) 	 Poison
35 	 Nidorina 	 Poison
36 	 Nidoqueen 	 Poison
37 	 Nidoran (Male) 	 Poison
38 	 Nidorino 	 Poison
39 	 Nidoking 	 Poison
40 	 Clefairy 	 Fairy
41 	 Clefable 	 Fairy
42 	 Vulpix 	 Fire
43 	 Ninetales 	 Fire
44 	 Jigglypuff 	 Normal
45 	 Wigglytuff 	 Normal
46 	 Zubat 	 Poison
47 	 Golbat 	 Poison
48 	 Oddish 	 Grass
49 	 Gloom 	 Grass
50 	 Vileplume 	 Grass
51 	 Paras 	 Bug
52 	 Parasect 	 Bug
53 	 Venonat 	 Bug
54 	 Venomoth 	 Bug
55 	 Diglett 	 Ground
56 	 Dugtrio 	 Ground
57 	 Meowth 	 Normal
58 	 Persian 	 Normal
59 	 Psyduck 	 Water
60 	 Golduck 	 Water
61 	 Mankey 	 Fighting
62 	 Primeape 	 Fighting
63 	 Growlithe 	 Fire
64 	 Arcanine 	 Fire
65 	 Poliwag 	 Water
66 	 Poliwhirl 	 Water
67 	 Poliwrath 	 Water
68 	 Abra 	 Psychic
69 	 Kadabra 	 Psychic
70 	 Alakazam 	 Psychic
71 	 AlakazamMega Alakazam 	 Psychic
72 	 Machop 	 Fighting
73 	 Machoke 	 Fighting
74 	 Machamp 	 Fighting
75 	 Bellsprout 	 Grass
76 	 Weepinbell 	 Grass
77 	 Victreebel 	 Grass
78 	 Tentacool 	 Water
79 	 Tentacruel 	 Water
80 	 Geodude 	 Rock
81 	 Graveler 	 Rock
82 	 Golem 	 Rock
83 	 Ponyta 	 Fire
84 	 Rapidash 	 Fire
85 	 Slowpoke 	 Water
86 	 Slowbro 	 Water
87 	 SlowbroMega Slowbro 	 Water
88 	 Magnemite 	 Electric
89 	 Magneton 	 Electric
90 	 Farfetch'd 	 Normal
91 	 Doduo 	 Normal
92 	 Dodrio 	 Normal
93 	 Seel 	 Water
94 	 Dewgong 	 Water
95 	 Grimer 	 Poison
96 	 Muk 	 Poison
97 	 Shellder 	 Water
98 	 Cloyster 	 Water
99 	 Gastly 	 Ghost
100 	 Haunter 	 Ghost
101 	 Gengar 	 Ghost
102 	 GengarMega Gengar 	 Ghost
103 	 Onix 	 Rock
104 	 Drowzee 	 Psychic
105 	 Hypno 	 Psychic
106 	 Krabby 	 Water
107 	 Kingler 	 Water
108 	 Voltorb 	 Electric
109 	 Electrode 	 Electric
110 	 Exeggcute 	 Grass
111 	 Exeggutor 	 Grass
112 	 Cubone 	 Ground
113 	 Marowak 	 Ground
114 	 Hitmonlee 	 Fighting
115 	 Hitmonchan 	 Fighting
116 	 Lickitung 	 Normal
117 	 Koffing 	 Poison
118 	 Weezing 	 Poison
119 	 Rhyhorn 	 Ground
120 	 Rhydon 	 Ground
121 	 Chansey 	 Normal
122 	 Tangela 	 Grass
123 	 Kangaskhan 	 Normal
124 	 KangaskhanMega Kangaskhan 	 Normal
125 	 Horsea 	 Water
126 	 Seadra 	 Water
127 	 Goldeen 	 Water
128 	 Seaking 	 Water
129 	 Staryu 	 Water
130 	 Starmie 	 Water
131 	 Mr. Mime 	 Psychic
132 	 Scyther 	 Bug
133 	 Jynx 	 Ice
134 	 Electabuzz 	 Electric
135 	 Magmar 	 Fire
136 	 Pinsir 	 Bug
137 	 PinsirMega Pinsir 	 Bug
138 	 Tauros 	 Normal
139 	 Magikarp 	 Water
140 	 Gyarados 	 Water
141 	 GyaradosMega Gyarados 	 Water
142 	 Lapras 	 Water
143 	 Ditto 	 Normal
144 	 Eevee 	 Normal
145 	 Vaporeon 	 Water
146 	 Jolteon 	 Electric
147 	 Flareon 	 Fire
148 	 Porygon 	 Normal
149 	 Omanyte 	 Rock
150 	 Omastar 	 Rock
151 	 Kabuto 	 Rock
152 	 Kabutops 	 Rock
153 	 Aerodactyl 	 Rock
154 	 AerodactylMega Aerodactyl 	 Rock
155 	 Snorlax 	 Normal
156 	 Articuno 	 Ice
157 	 Zapdos 	 Electric
158 	 Moltres 	 Fire
159 	 Dratini 	 Dragon
160 	 Dragonair 	 Dragon
161 	 Dragonite 	 Dragon
162 	 Mewtwo 	 Psychic
163 	 MewtwoMega Mewtwo X 	 Psychic
164 	 MewtwoMega Mewtwo Y 	 Psychic
165 	 Mew 	 Psychic
166 	 Chikorita 	 Grass
167 	 Bayleef 	 Grass
168 	 Meganium 	 Grass
169 	 Cyndaquil 	 Fire
170 	 Quilava 	 Fire
171 	 Typhlosion 	 Fire
172 	 Totodile 	 Water
173 	 Croconaw 	 Water
174 	 Feraligatr 	 Water
175 	 Sentret 	 Normal
176 	 Furret 	 Normal
177 	 Hoothoot 	 Normal
178 	 Noctowl 	 Normal
179 	 Ledyba 	 Bug
180 	 Ledian 	 Bug
181 	 Spinarak 	 Bug
182 	 Ariados 	 Bug
183 	 Crobat 	 Poison
184 	 Chinchou 	 Water
185 	 Lanturn 	 Water
186 	 Pichu 	 Electric
187 	 Cleffa 	 Fairy
188 	 Igglybuff 	 Normal
189 	 Togepi 	 Fairy
190 	 Togetic 	 Fairy
191 	 Natu 	 Psychic
192 	 Xatu 	 Psychic
193 	 Mareep 	 Electric
194 	 Flaaffy 	 Electric
195 	 Ampharos 	 Electric
196 	 AmpharosMega Ampharos 	 Electric
197 	 Bellossom 	 Grass
198 	 Marill 	 Water
199 	 Azumarill 	 Water
200 	 Sudowoodo 	 Rock
201 	 Politoed 	 Water
202 	 Hoppip 	 Grass
203 	 Skiploom 	 Grass
204 	 Jumpluff 	 Grass
205 	 Aipom 	 Normal
206 	 Sunkern 	 Grass
207 	 Sunflora 	 Grass
208 	 Yanma 	 Bug
209 	 Wooper 	 Water
210 	 Quagsire 	 Water
211 	 Espeon 	 Psychic
212 	 Umbreon 	 Dark
213 	 Murkrow 	 Dark
214 	 Slowking 	 Water
215 	 Misdreavus 	 Ghost
216 	 Unown 	 Psychic
217 	 Wobbuffet 	 Psychic
218 	 Girafarig 	 Normal
219 	 Pineco 	 Bug
220 	 Forretress 	 Bug
221 	 Dunsparce 	 Normal
222 	 Gligar 	 Ground
223 	 Steelix 	 Steel
224 	 SteelixMega Steelix 	 Steel
225 	 Snubbull 	 Fairy
226 	 Granbull 	 Fairy
227 	 Qwilfish 	 Water
228 	 Scizor 	 Bug
229 	 ScizorMega Scizor 	 Bug
230 	 Shuckle 	 Bug
231 	 Heracross 	 Bug
232 	 HeracrossMega Heracross 	 Bug
233 	 Sneasel 	 Dark
234 	 Teddiursa 	 Normal
235 	 Ursaring 	 Normal
236 	 Slugma 	 Fire
237 	 Magcargo 	 Fire
238 	 Swinub 	 Ice
239 	 Piloswine 	 Ice
240 	 Corsola 	 Water
241 	 Remoraid 	 Water
242 	 Octillery 	 Water
243 	 Delibird 	 Ice
244 	 Mantine 	 Water
245 	 Skarmory 	 Steel
246 	 Houndour 	 Dark
247 	 Houndoom 	 Dark
248 	 HoundoomMega Houndoom 	 Dark
249 	 Kingdra 	 Water
250 	 Phanpy 	 Ground
251 	 Donphan 	 Ground
252 	 Porygon2 	 Normal
253 	 Stantler 	 Normal
254 	 Smeargle 	 Normal
255 	 Tyrogue 	 Fighting
256 	 Hitmontop 	 Fighting
257 	 Smoochum 	 Ice
258 	 Elekid 	 Electric
259 	 Magby 	 Fire
260 	 Miltank 	 Normal
261 	 Blissey 	 Normal
262 	 Raikou 	 Electric
263 	 Entei 	 Fire
264 	 Suicune 	 Water
265 	 Larvitar 	 Rock
266 	 Pupitar 	 Rock
267 	 Tyranitar 	 Rock
268 	 TyranitarMega Tyranitar 	 Rock
269 	 Lugia 	 Psychic
270 	 Ho-oh 	 Fire
271 	 Celebi 	 Psychic
272 	 Treecko 	 Grass
273 	 Grovyle 	 Grass
274 	 Sceptile 	 Grass
275 	 SceptileMega Sceptile 	 Grass
276 	 Torchic 	 Fire
277 	 Combusken 	 Fire
278 	 Blaziken 	 Fire
279 	 BlazikenMega Blaziken 	 Fire
280 	 Mudkip 	 Water
281 	 Marshtomp 	 Water
282 	 Swampert 	 Water
283 	 SwampertMega Swampert 	 Water
284 	 Poochyena 	 Dark
285 	 Mightyena 	 Dark
286 	 Zigzagoon 	 Normal
287 	 Linoone 	 Normal
288 	 Wurmple 	 Bug
289 	 Silcoon 	 Bug
290 	 Beautifly 	 Bug
291 	 Cascoon 	 Bug
292 	 Dustox 	 Bug
293 	 Lotad 	 Water
294 	 Lombre 	 Water
295 	 Ludicolo 	 Water
296 	 Seedot 	 Grass
297 	 Nuzleaf 	 Grass
298 	 Shiftry 	 Grass
299 	 Taillow 	 Normal
300 	 Swellow 	 Normal
301 	 Wingull 	 Water
302 	 Pelipper 	 Water
303 	 Ralts 	 Psychic
304 	 Kirlia 	 Psychic
305 	 Gardevoir 	 Psychic
306 	 GardevoirMega Gardevoir 	 Psychic
307 	 Surskit 	 Bug
308 	 Masquerain 	 Bug
309 	 Shroomish 	 Grass
310 	 Breloom 	 Grass
311 	 Slakoth 	 Normal
312 	 Vigoroth 	 Normal
313 	 Slaking 	 Normal
314 	 Nincada 	 Bug
315 	 Ninjask 	 Bug
316 	 Shedinja 	 Bug
317 	 Whismur 	 Normal
318 	 Loudred 	 Normal
319 	 Exploud 	 Normal
320 	 Makuhita 	 Fighting
321 	 Hariyama 	 Fighting
322 	 Azurill 	 Normal
323 	 Nosepass 	 Rock
324 	 Skitty 	 Normal
325 	 Delcatty 	 Normal
326 	 Sableye 	 Dark
327 	 SableyeMega Sableye 	 Dark
328 	 Mawile 	 Steel
329 	 MawileMega Mawile 	 Steel
330 	 Aron 	 Steel
331 	 Lairon 	 Steel
332 	 Aggron 	 Steel
333 	 AggronMega Aggron 	 Steel
334 	 Meditite 	 Fighting
335 	 Medicham 	 Fighting
336 	 MedichamMega Medicham 	 Fighting
337 	 Electrike 	 Electric
338 	 Manectric 	 Electric
339 	 ManectricMega Manectric 	 Electric
340 	 Plusle 	 Electric
341 	 Minun 	 Electric
342 	 Volbeat 	 Bug
343 	 Illumise 	 Bug
344 	 Roselia 	 Grass
345 	 Gulpin 	 Poison
346 	 Swalot 	 Poison
347 	 Carvanha 	 Water
348 	 Sharpedo 	 Water
349 	 SharpedoMega Sharpedo 	 Water
350 	 Wailmer 	 Water
351 	 Wailord 	 Water
352 	 Numel 	 Fire
353 	 Camerupt 	 Fire
354 	 CameruptMega Camerupt 	 Fire
355 	 Torkoal 	 Fire
356 	 Spoink 	 Psychic
357 	 Grumpig 	 Psychic
358 	 Spinda 	 Normal
359 	 Trapinch 	 Ground
360 	 Vibrava 	 Ground
361 	 Flygon 	 Ground
362 	 Cacnea 	 Grass
363 	 Cacturne 	 Grass
364 	 Swablu 	 Normal
365 	 Altaria 	 Dragon
366 	 AltariaMega Altaria 	 Dragon
367 	 Zangoose 	 Normal
368 	 Seviper 	 Poison
369 	 Lunatone 	 Rock
370 	 Solrock 	 Rock
371 	 Barboach 	 Water
372 	 Whiscash 	 Water
373 	 Corphish 	 Water
374 	 Crawdaunt 	 Water
375 	 Baltoy 	 Ground
376 	 Claydol 	 Ground
377 	 Lileep 	 Rock
378 	 Cradily 	 Rock
379 	 Anorith 	 Rock
380 	 Armaldo 	 Rock
381 	 Feebas 	 Water
382 	 Milotic 	 Water
383 	 Castform 	 Normal
384 	 Kecleon 	 Normal
385 	 Shuppet 	 Ghost
386 	 Banette 	 Ghost
387 	 BanetteMega Banette 	 Ghost
388 	 Duskull 	 Ghost
389 	 Dusclops 	 Ghost
390 	 Tropius 	 Grass
391 	 Chimecho 	 Psychic
392 	 Absol 	 Dark
393 	 AbsolMega Absol 	 Dark
394 	 Wynaut 	 Psychic
395 	 Snorunt 	 Ice
396 	 Glalie 	 Ice
397 	 GlalieMega Glalie 	 Ice
398 	 Spheal 	 Ice
399 	 Sealeo 	 Ice
400 	 Walrein 	 Ice
401 	 Clamperl 	 Water
402 	 Huntail 	 Water
403 	 Gorebyss 	 Water
404 	 Relicanth 	 Water
405 	 Luvdisc 	 Water
406 	 Bagon 	 Dragon
407 	 Shelgon 	 Dragon
408 	 Salamence 	 Dragon
409 	 SalamenceMega Salamence 	 Dragon
410 	 Beldum 	 Steel
411 	 Metang 	 Steel
412 	 Metagross 	 Steel
413 	 MetagrossMega Metagross 	 Steel
414 	 Regirock 	 Rock
415 	 Regice 	 Ice
416 	 Registeel 	 Steel
417 	 Latias 	 Dragon
418 	 LatiasMega Latias 	 Dragon
419 	 Latios 	 Dragon
420 	 LatiosMega Latios 	 Dragon
421 	 Kyogre 	 Water
422 	 KyogrePrimal Kyogre 	 Water
423 	 Groudon 	 Ground
424 	 GroudonPrimal Groudon 	 Ground
425 	 Rayquaza 	 Dragon
426 	 RayquazaMega Rayquaza 	 Dragon
427 	 Jirachi 	 Steel
428 	 DeoxysNormal Forme 	 Psychic
429 	 DeoxysAttack Forme 	 Psychic
430 	 DeoxysDefense Forme 	 Psychic
431 	 DeoxysSpeed Forme 	 Psychic
432 	 Turtwig 	 Grass
433 	 Grotle 	 Grass
434 	 Torterra 	 Grass
435 	 Chimchar 	 Fire
436 	 Monferno 	 Fire
437 	 Infernape 	 Fire
438 	 Piplup 	 Water
439 	 Prinplup 	 Water
440 	 Empoleon 	 Water
441 	 Starly 	 Normal
442 	 Staravia 	 Normal
443 	 Staraptor 	 Normal
444 	 Bidoof 	 Normal
445 	 Bibarel 	 Normal
446 	 Kricketot 	 Bug
447 	 Kricketune 	 Bug
448 	 Shinx 	 Electric
449 	 Luxio 	 Electric
450 	 Luxray 	 Electric
451 	 Budew 	 Grass
452 	 Roserade 	 Grass
453 	 Cranidos 	 Rock
454 	 Rampardos 	 Rock
455 	 Shieldon 	 Rock
456 	 Bastiodon 	 Rock
457 	 Burmy 	 Bug
458 	 WormadamPlant Cloak 	 Bug
459 	 WormadamSandy Cloak 	 Bug
460 	 WormadamTrash Cloak 	 Bug
461 	 Mothim 	 Bug
462 	 Combee 	 Bug
463 	 Vespiquen 	 Bug
464 	 Pachirisu 	 Electric
465 	 Buizel 	 Water
466 	 Floatzel 	 Water
467 	 Cherubi 	 Grass
468 	 Cherrim 	 Grass
469 	 Shellos 	 Water
470 	 Gastrodon 	 Water
471 	 Ambipom 	 Normal
472 	 Drifloon 	 Ghost
473 	 Drifblim 	 Ghost
474 	 Buneary 	 Normal
475 	 Lopunny 	 Normal
476 	 LopunnyMega Lopunny 	 Normal
477 	 Mismagius 	 Ghost
478 	 Honchkrow 	 Dark
479 	 Glameow 	 Normal
480 	 Purugly 	 Normal
481 	 Chingling 	 Psychic
482 	 Stunky 	 Poison
483 	 Skuntank 	 Poison
484 	 Bronzor 	 Steel
485 	 Bronzong 	 Steel
486 	 Bonsly 	 Rock
487 	 Mime Jr. 	 Psychic
488 	 Happiny 	 Normal
489 	 Chatot 	 Normal
490 	 Spiritomb 	 Ghost
491 	 Gible 	 Dragon
492 	 Gabite 	 Dragon
493 	 Garchomp 	 Dragon
494 	 GarchompMega Garchomp 	 Dragon
495 	 Munchlax 	 Normal
496 	 Riolu 	 Fighting
497 	 Lucario 	 Fighting
498 	 LucarioMega Lucario 	 Fighting
499 	 Hippopotas 	 Ground
500 	 Hippowdon 	 Ground
501 	 Skorupi 	 Poison
502 	 Drapion 	 Poison
503 	 Croagunk 	 Poison
504 	 Toxicroak 	 Poison
505 	 Carnivine 	 Grass
506 	 Finneon 	 Water
507 	 Lumineon 	 Water
508 	 Mantyke 	 Water
509 	 Snover 	 Grass
510 	 Abomasnow 	 Grass
511 	 AbomasnowMega Abomasnow 	 Grass
512 	 Weavile 	 Dark
513 	 Magnezone 	 Electric
514 	 Lickilicky 	 Normal
515 	 Rhyperior 	 Ground
516 	 Tangrowth 	 Grass
517 	 Electivire 	 Electric
518 	 Magmortar 	 Fire
519 	 Togekiss 	 Fairy
520 	 Yanmega 	 Bug
521 	 Leafeon 	 Grass
522 	 Glaceon 	 Ice
523 	 Gliscor 	 Ground
524 	 Mamoswine 	 Ice
525 	 Porygon-Z 	 Normal
526 	 Gallade 	 Psychic
527 	 GalladeMega Gallade 	 Psychic
528 	 Probopass 	 Rock
529 	 Dusknoir 	 Ghost
530 	 Froslass 	 Ice
531 	 Rotom 	 Electric
532 	 RotomHeat Rotom 	 Electric
533 	 RotomWash Rotom 	 Electric
534 	 RotomFrost Rotom 	 Electric
535 	 RotomFan Rotom 	 Electric
536 	 RotomMow Rotom 	 Electric
537 	 Uxie 	 Psychic
538 	 Mesprit 	 Psychic
539 	 Azelf 	 Psychic
540 	 Dialga 	 Steel
541 	 Palkia 	 Water
542 	 Heatran 	 Fire
543 	 Regigigas 	 Normal
544 	 GiratinaAltered Forme 	 Ghost
545 	 GiratinaOrigin Forme 	 Ghost
546 	 Cresselia 	 Psychic
547 	 Phione 	 Water
548 	 Manaphy 	 Water
549 	 Darkrai 	 Dark
550 	 ShayminLand Forme 	 Grass
551 	 ShayminSky Forme 	 Grass
552 	 Arceus 	 Normal
553 	 Victini 	 Psychic
554 	 Snivy 	 Grass
555 	 Servine 	 Grass
556 	 Serperior 	 Grass
557 	 Tepig 	 Fire
558 	 Pignite 	 Fire
559 	 Emboar 	 Fire
560 	 Oshawott 	 Water
561 	 Dewott 	 Water
562 	 Samurott 	 Water
563 	 Patrat 	 Normal
564 	 Watchog 	 Normal
565 	 Lillipup 	 Normal
566 	 Herdier 	 Normal
567 	 Stoutland 	 Normal
568 	 Purrloin 	 Dark
569 	 Liepard 	 Dark
570 	 Pansage 	 Grass
571 	 Simisage 	 Grass
572 	 Pansear 	 Fire
573 	 Simisear 	 Fire
574 	 Panpour 	 Water
575 	 Simipour 	 Water
576 	 Munna 	 Psychic
577 	 Musharna 	 Psychic
578 	 Pidove 	 Normal
579 	 Tranquill 	 Normal
580 	 Unfezant 	 Normal
581 	 Blitzle 	 Electric
582 	 Zebstrika 	 Electric
583 	 Roggenrola 	 Rock
584 	 Boldore 	 Rock
585 	 Gigalith 	 Rock
586 	 Woobat 	 Psychic
587 	 Swoobat 	 Psychic
588 	 Drilbur 	 Ground
589 	 Excadrill 	 Ground
590 	 Audino 	 Normal
591 	 AudinoMega Audino 	 Normal
592 	 Timburr 	 Fighting
593 	 Gurdurr 	 Fighting
594 	 Conkeldurr 	 Fighting
595 	 Tympole 	 Water
596 	 Palpitoad 	 Water
597 	 Seismitoad 	 Water
598 	 Throh 	 Fighting
599 	 Sawk 	 Fighting
600 	 Sewaddle 	 Bug
601 	 Swadloon 	 Bug
602 	 Leavanny 	 Bug
603 	 Venipede 	 Bug
604 	 Whirlipede 	 Bug
605 	 Scolipede 	 Bug
606 	 Cottonee 	 Grass
607 	 Whimsicott 	 Grass
608 	 Petilil 	 Grass
609 	 Lilligant 	 Grass
610 	 Basculin 	 Water
611 	 Sandile 	 Ground
612 	 Krokorok 	 Ground
613 	 Krookodile 	 Ground
614 	 Darumaka 	 Fire
615 	 DarmanitanStandard Mode 	 Fire
616 	 DarmanitanZen Mode 	 Fire
617 	 Maractus 	 Grass
618 	 Dwebble 	 Bug
619 	 Crustle 	 Bug
620 	 Scraggy 	 Dark
621 	 Scrafty 	 Dark
622 	 Sigilyph 	 Psychic
623 	 Yamask 	 Ghost
624 	 Cofagrigus 	 Ghost
625 	 Tirtouga 	 Water
626 	 Carracosta 	 Water
627 	 Archen 	 Rock
628 	 Archeops 	 Rock
629 	 Trubbish 	 Poison
630 	 Garbodor 	 Poison
631 	 Zorua 	 Dark
632 	 Zoroark 	 Dark
633 	 Minccino 	 Normal
634 	 Cinccino 	 Normal
635 	 Gothita 	 Psychic
636 	 Gothorita 	 Psychic
637 	 Gothitelle 	 Psychic
638 	 Solosis 	 Psychic
639 	 Duosion 	 Psychic
640 	 Reuniclus 	 Psychic
641 	 Ducklett 	 Water
642 	 Swanna 	 Water
643 	 Vanillite 	 Ice
644 	 Vanillish 	 Ice
645 	 Vanilluxe 	 Ice
646 	 Deerling 	 Normal
647 	 Sawsbuck 	 Normal
648 	 Emolga 	 Electric
649 	 Karrablast 	 Bug
650 	 Escavalier 	 Bug
651 	 Foongus 	 Grass
652 	 Amoonguss 	 Grass
653 	 Frillish 	 Water
654 	 Jellicent 	 Water
655 	 Alomomola 	 Water
656 	 Joltik 	 Bug
657 	 Galvantula 	 Bug
658 	 Ferroseed 	 Grass
659 	 Ferrothorn 	 Grass
660 	 Klink 	 Steel
661 	 Klang 	 Steel
662 	 Klinklang 	 Steel
663 	 Tynamo 	 Electric
664 	 Eelektrik 	 Electric
665 	 Eelektross 	 Electric
666 	 Elgyem 	 Psychic
667 	 Beheeyem 	 Psychic
668 	 Litwick 	 Ghost
669 	 Lampent 	 Ghost
670 	 Chandelure 	 Ghost
671 	 Axew 	 Dragon
672 	 Fraxure 	 Dragon
673 	 Haxorus 	 Dragon
674 	 Cubchoo 	 Ice
675 	 Beartic 	 Ice
676 	 Cryogonal 	 Ice
677 	 Shelmet 	 Bug
678 	 Accelgor 	 Bug
679 	 Stunfisk 	 Ground
680 	 Mienfoo 	 Fighting
681 	 Mienshao 	 Fighting
682 	 Druddigon 	 Dragon
683 	 Golett 	 Ground
684 	 Golurk 	 Ground
685 	 Pawniard 	 Dark
686 	 Bisharp 	 Dark
687 	 Bouffalant 	 Normal
688 	 Rufflet 	 Normal
689 	 Braviary 	 Normal
690 	 Vullaby 	 Dark
691 	 Mandibuzz 	 Dark
692 	 Heatmor 	 Fire
693 	 Durant 	 Bug
694 	 Deino 	 Dark
695 	 Zweilous 	 Dark
696 	 Hydreigon 	 Dark
697 	 Larvesta 	 Bug
698 	 Volcarona 	 Bug
699 	 Cobalion 	 Steel
700 	 Terrakion 	 Rock
701 	 Virizion 	 Grass
702 	 TornadusIncarnate Forme 	 Flying
703 	 TornadusTherian Forme 	 Flying
704 	 ThundurusIncarnate Forme 	 Electric
705 	 ThundurusTherian Forme 	 Electric
706 	 Reshiram 	 Dragon
707 	 Zekrom 	 Dragon
708 	 LandorusIncarnate Forme 	 Ground
709 	 LandorusTherian Forme 	 Ground
710 	 Kyurem 	 Dragon
711 	 KyuremBlack Kyurem 	 Dragon
712 	 KyuremWhite Kyurem 	 Dragon
713 	 KeldeoOrdinary Forme 	 Water
714 	 KeldeoResolute Forme 	 Water
715 	 MeloettaAria Forme 	 Normal
716 	 MeloettaPirouette Forme 	 Normal
717 	 Genesect 	 Bug
718 	 Chespin 	 Grass
719 	 Quilladin 	 Grass
720 	 Chesnaught 	 Grass
721 	 Fennekin 	 Fire
722 	 Braixen 	 Fire
723 	 Delphox 	 Fire
724 	 Froakie 	 Water
725 	 Frogadier 	 Water
726 	 Greninja 	 Water
727 	 Bunnelby 	 Normal
728 	 Diggersby 	 Normal
729 	 Fletchling 	 Normal
730 	 Fletchinder 	 Fire
731 	 Talonflame 	 Fire
732 	 Scatterbug 	 Bug
733 	 Spewpa 	 Bug
734 	 Vivillon 	 Bug
735 	 Litleo 	 Fire
736 	 Pyroar 	 Fire
737 	 Flabébé 	 Fairy
738 	 Floette 	 Fairy
739 	 Florges 	 Fairy
740 	 Skiddo 	 Grass
741 	 Gogoat 	 Grass
742 	 Pancham 	 Fighting
743 	 Pangoro 	 Fighting
744 	 Furfrou 	 Normal
745 	 Espurr 	 Psychic
746 	 MeowsticMale 	 Psychic
747 	 MeowsticFemale 	 Psychic
748 	 Honedge 	 Steel
749 	 Doublade 	 Steel
750 	 AegislashBlade Forme 	 Steel
751 	 AegislashShield Forme 	 Steel
752 	 Spritzee 	 Fairy
753 	 Aromatisse 	 Fairy
754 	 Swirlix 	 Fairy
755 	 Slurpuff 	 Fairy
756 	 Inkay 	 Dark
757 	 Malamar 	 Dark
758 	 Binacle 	 Rock
759 	 Barbaracle 	 Rock
760 	 Skrelp 	 Poison
761 	 Dragalge 	 Poison
762 	 Clauncher 	 Water
763 	 Clawitzer 	 Water
764 	 Helioptile 	 Electric
765 	 Heliolisk 	 Electric
766 	 Tyrunt 	 Rock
767 	 Tyrantrum 	 Rock
768 	 Amaura 	 Rock
769 	 Aurorus 	 Rock
770 	 Sylveon 	 Fairy
771 	 Hawlucha 	 Fighting
772 	 Dedenne 	 Electric
773 	 Carbink 	 Rock
774 	 Goomy 	 Dragon
775 	 Sliggoo 	 Dragon
776 	 Goodra 	 Dragon
777 	 Klefki 	 Steel
778 	 Phantump 	 Ghost
779 	 Trevenant 	 Ghost
780 	 PumpkabooAverage Size 	 Ghost
781 	 PumpkabooSmall Size 	 Ghost
782 	 PumpkabooLarge Size 	 Ghost
783 	 PumpkabooSuper Size 	 Ghost
784 	 GourgeistAverage Size 	 Ghost
785 	 GourgeistSmall Size 	 Ghost
786 	 GourgeistLarge Size 	 Ghost
787 	 GourgeistSuper Size 	 Ghost
788 	 Bergmite 	 Ice
789 	 Avalugg 	 Ice
790 	 Noibat 	 Flying
791 	 Noivern 	 Flying
792 	 Xerneas 	 Fairy
793 	 Yveltal 	 Dark
794 	 Zygarde50% Forme 	 Dragon
795 	 Diancie 	 Rock
796 	 DiancieMega Diancie 	 Rock
797 	 HoopaHoopa Confined 	 Psychic
798 	 HoopaHoopa Unbound 	 Psychic
799 	 Volcanion 	 Fire

In [ ]:
df.loc[df['Type 1'] == "Fire"]
#df.loc[df['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# 3. Sorting / Describing

In [ ]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
#df.sort_values('Name')     # Alphabetical
df.sort_values('Name', ascending = False)   # inverted Alphabetical

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

## We can also sort by another feature

In [ ]:
#df.sort_values(['Type 1','HP']) #...................ascending order
df.sort_values(['Type 1','HP'], ascending = [1,0]) #........Type 1 = ascending , HP = descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# 4. Making Changes to Data

In [ ]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Adding new columns

In [ ]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Def']+df['Sp. Atk']+df['Speed']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Grand_Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,3.18
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,4.05
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,5.25
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,6.25
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,3.09

In [ ]:
df['Grand_Total']= df["Total"]*1.5
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,Grand_Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,477.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,607.5
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,787.5
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,937.5
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309,463.5

## Removing Columns

In [ ]:
df.drop(columns = ['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Grand_Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,477.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,607.5
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,787.5
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,937.5
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,463.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,900.0
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,1050.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,900.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,1020.0
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,900.0

In [ ]:
#second way of addition operation
df['Total'] = df.iloc[:,4:10].sum(axis = 1)
#df['Total'] = df.iloc[0:11,4:10].sum(axis = 1) # if we want to perform operation on just 10 rows
# axis = 1 means row addition
# iloc[starting row : ending row + 1, starting column:ending couml + 1]
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

## Re-arranging Columns

In [ ]:
#df.columns 
#shows in index #Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       #'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total', 'Grand_Total'],
      #dtype='object')


df.columns.values #shows in arrays

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total',
       'Grand_Total'], dtype=object)

In [ ]:
dfarranged = df[['Name','Defense','Type 1']] #By column name
dfarranged.head()

                    Name  Defense Type 1
0              Bulbasaur       49  Grass
1                Ivysaur       63  Grass
2               Venusaur       83  Grass
3  VenusaurMega Venusaur      123  Grass
4             Charmander       43   Fire

In [90]:
dfarranged = df[df.columns.values[2:6]] # COLUMN 2-5
dfarranged.head()

#for rows
#dfarranged.iloc[2:4]

  Type 1  Type 2  HP  Attack
0  Grass  Poison  45      49
1  Grass  Poison  60      62
2  Grass  Poison  80      82
3  Grass  Poison  80     100
4   Fire     NaN  39      52

In [91]:
dfarranged = df[df.columns.values[-1]] # LAST COLUMN reverse indexing
dfarranged.head()

0    477.0
1    607.5
2    787.5
3    937.5
4    463.5
Name: Grand_Total, dtype: float64

In [ ]:
# Moving The Last column to 4th index
cols = list(df.columns.values)
dfarranged = df[cols[0:4]+[cols[-1]]+cols[4:12]] 
dfarranged.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False